.button {
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: none;
    width: 100%;
    cursor: pointer;
    transition: all .3s ease;
    

    .button__text {
        font-weight: 600;
        transition: all .3s ease;
    }

    .button__icon {
        transition: all .3s ease;
    }

    &:active {
        transform: scale(0.95);      
    }
}

.button.button__orange {
    background-color: var(--orange);

    .button__text {
        color: #fff;
    }

    &:hover {
        background-color: var(--lightOrange);
    }
}